#userRegister{
	max-width: 485px !important;
}
#orderSubmit {
    margin-top: 25px;
    border: 0;
    background-color: #fbece7;
    width: 100%;
    padding: 14px;
    font-weight: 600;
    box-shadow: 0px 1px 5px #4c4c4c47;
    transition: all ease-in-out .2s;
    border-radius: 2px;
    text-align: center;
}
#orderSubmit:hover {
	box-shadow: none;
	color: #fff;
	background-color: #000;
}
.loggedIn a img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}
.loggedIn .dropdown-toggle{
	color:#154767;
	font-weight: 600;
}
.loggedIn {
    background-color: #ffffff52;
    padding: 3px 15px;
    border-radius: 7px;
    margin-top: 13px;
}
.loggedIn ul li{
	transition: all ease-in-out .2s;
}
.loggedIn ul li:hover {
    background-color: #fbece7;
    padding: 2px 5px;
}
.ratingAvg{
    font-size: 20px !important;
    font-weight: bold;
}
.ratingAvg img{
    margin-top: -3px;
    margin-left: 5px;
}


/* Profile New Look */
.practitioner-box-image {
    float: left;
    width: 100%;
    text-align: center;
}
.practitioner-box-image img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.practitioner-box {
    background:none;
}

.practitioner-box-text {
    float: left;
    width: 100%;
    padding-left: 0px;
    text-align: center;
    padding-top: 20px;
}
.practitioner-box-text h5 {
    color: #6d6d6d;
    font-weight: 400;
    border-bottom: none;
    padding-bottom: 4px;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
    font-size: 16px;
}
.practitioner-box-text p.pract-price {
    color: #ec8f9f;
    font-weight: 500;
    font-size: 17px;
}
.practitioner-box-text h4 {
    color: black;
    margin: 0px 0px 10px 0px;
    font-weight: 500;
    letter-spacing: 0.6px;
}
.practitioner-box-text p {
    color: black;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}
.fa-star {
    color: silver;
}

.star-onn {
    color: #eacf46 !important;
}
.practitioner-box-text p.pract-review {
    color: grey;
    letter-spacing: 0px;
}

.empty_users{
    text-align: center;
    padding: 100px;
}
.empty_users h3{
    color: #777;
}
.empty_users img{
    opacity: 0.6;
}