.feature-box5.active {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    border: 1px solid #f7a589;
}
.two_line{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feder-profile img {
    border-radius: 50%;
}
.date-picker .ui-state-disabled .ui-state-default {
    background-color: #dedede;
    color: #fff;
}