.feature-box5.active {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    border: 1px solid #f7a589;
}
.two_line{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feder-profile img {
    border-radius: 50%;
}
.date-picker .ui-state-disabled .ui-state-default {
    background-color: #dedede;
    color: #fff;
}
.timeslot{
    display: none;
}
.timeslot:checked + .book-time-btn {
    color: white;
    background: #5D4E6D;
}
.book-time-btn{
    cursor: pointer;
}

.booking-features {
 float: left;
 width: 100%;
 display: block;
 margin-bottom: 0px !important;
 }
 .feature-box5 {
 background: white;
 padding: 20px 0px;
 text-align: center;
 border-radius: 10px;
 height: 145px;
 cursor: pointer;
 transition: all 0.2s ease-in-out;
 -webkit-transition: all 0.2s ease-in-out;
 width: 100%;
 float: left;
 margin-right: 0px;
 margin-left: 0px;
 display: inline-block;
 }
 .featurebox-wrapper {
 padding: 0px 6px;
 }
 .feature-box5:hover {
 transform: scale(1.02);
 -webkit-transform: scale(1.02);
 }
 .feature-box5 img {
 margin: auto;
 }
 .booking-features::-webkit-scrollbar-track
 {
 background-color: #F5F5F5;
 }
 .booking-features::-webkit-scrollbar
 {
 width: 4px;
 height: 6px;
 background-color: white;
 }
 .booking-features::-webkit-scrollbar-thumb
 {
 background-color: silver;
 }
 .booking-features button.slick-arrow {
 background: #5d4e6d;
 color: white !important;
 border-radius: 100%;
 width: 25px;
 height: 25px;
 }
 .booking-features button.slick-arrow::before {
 color:white !important;
 line-height: 28px !important;
 }
 .booking-features ul.slick-dots {
 display: none !important;
 }
 @media screen and (max-width:1200px) and (min-width:993px) { 
 .booking-features button.slick-next {
 right: -10px !important;
 z-index: 9999;
 }
 .booking-features button.slick-prev {
 left: -10px !important;
 z-index: 9999;
 }
 }
 @media screen and (max-width:992px) and (min-width:767px) { 
 .booking-features button.slick-next {
 right: -10px !important;
 z-index: 9999;
 }
 .booking-features button.slick-prev {
 left: -10px !important;
 z-index: 9999;
 }
 }
 @media screen and (max-width:768px) and (min-width:520px) { 
 .booking-features {
 float: left;
 width: 100%;
 display: block;
 margin-bottom: 0px !important;
 padding: 0px 15px;
 }
 .booking-features button.slick-next {
 right: -10px !important;
 }
 .booking-features button.slick-prev {
 left: -10px !important;
 }
 }
 @media screen and (max-width:519px) and (min-width:320px) { 
 .feature-box5 {
 margin: 0px 0px 0px 0px !important;
 }
 a.pro-btn {
    margin-left: 0px;
}

.service-box5 h6 {
    width: 81%;

}
#checkout_btn {
    padding: 10px 20px !important;
}
.submit-btn1.block-element1 {
    padding: 10px 20px !important;
}
 }

.submit-btn1
{
    text-align: center !important;
}

 .pac-container.pac-logo {
    z-index: 999999;
}
.time-btn1[type="button"] {
    background-color: #e6e6e6 !important;
}
.response {
    padding: 10px;
    font-size: 25px;
    font-weight: 800;
}
.response#mce-success-response {
    color: #5d4e6d;
}
.response#mce-error-response {
    color: red;
}
#checkout_btn[type=button] {
    background: gray;
}

.cart-btn1{
    cursor: pointer;
 }
 .addon_checkbox{
    opacity: 0;
 }
 .addon_checkbox:checked ~ label{
     background: #FBECE7;
     color: #053C5E;
     padding: 8px 45px 8px 30px;
     letter-spacing: 0.6px;
     font-weight: 600;
     border-radius: 30px;
     position: relative;
     border: 0;
 }

 .addon_checkbox:checked ~ label:before{
    content: '\2713';
     background-image: url(../images/tick-icon.png);
     color: white;
     position: absolute;
     right: 14px;
     top: 8px;
     width: 22px;
     height: 22px;
     text-align: center;
     font-size: 0px;
     border-radius: 100%;
     background-repeat: no-repeat;
     background-position: center center;
 }

 .addonLabel {
    float: right;
    margin-top: -30px;
    font-size: 12px;
}
.banner-text div {
    border-top: 5px solid #404780;
    width: 57px;
    float: left;
    margin-top: -97px;
}
/*.banner-text h3 {
    padding-left: 72px;
}*/
.addonLabelTreatment {
    margin-top: -8px;
    padding-right: 75px;
}
.book-summary-item .addonLabelTreatment {
    margin-bottom: 0;
    padding: 0;
}

.slick-list {
    padding: 15px 7px;
}
