.cat-box1 {
	cursor:pointer;
}
.custom-alert {
    margin-top: 100px;
    margin-bottom: -20px;
    padding: 0px 2%;
}
.col-red{
	color: red !important;
}
.availability-table tbody {
    border: 1px solid #e6e6e6;
}
.booking-detail-table {
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.booking-detail-table tr{
	border-bottom: 1px solid #e6e6e6;
}
.wd-40{
	width: 40%;
}
.wd-60{
	width: 60%;
}
.rating_block {
    margin-bottom: 10px;
}
.rating-input i{
    font-size: 24px !important;
}
.star-onn{
    color: #ffc107!important
}
span > i.fa-star{
    font-size: 14px !important;
}
.stats-records div {
    width: 49% !important;
}
.border_bottom{
    border-bottom: 1px solid;
}
.chat{
    cursor: pointer;
}


.height-custom1::-webkit-scrollbar {
    width: 2px;
}
 
.height-custom1::-webkit-scrollbar-track {
    width: 5px;
}
 
.height-custom1::-webkit-scrollbar-thumb {
  background-color: #404780;
  outline: 1px solid slategrey;
}
.cat-box1.disabled {
    background-color: #e6e6e6;
}
.manageCategory {
    padding: 4px 15px;
    color: #000000cf;
}
.category_list {
    padding: 8px 10px;
    margin: 7px 1px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
}
.disabledService {
    background: #e8e8e8;
    cursor: no-drop;
}
.dropdown-menu.show {
    left: 0px !important;
}