.cat-box1 {
	cursor:pointer;
}
.custom-alert {
    margin-top: 100px;
    margin-bottom: -20px;
    padding: 0px 2%;
}
.col-red{
	color: red !important;
}
.availability-table tbody {
    border: 1px solid #e6e6e6;
}