.cat-box1 {
	cursor:pointer;
}
.custom-alert {
    margin-top: 100px;
    margin-bottom: -20px;
    padding: 0px 2%;
}
.col-red{
	color: red !important;
}
.availability-table tbody {
    border: 1px solid #e6e6e6;
}
.booking-detail-table {
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.booking-detail-table tr{
	border-bottom: 1px solid #e6e6e6;
}
.wd-40{
	width: 40%;
}
.wd-60{
	width: 60%;
}
.rating_block {
    margin-bottom: 10px;
}
.rating-input i{
    font-size: 24px !important;
}
.star-onn{
    color: #ffc107!important
}
span > i.fa-star{
    font-size: 14px !important;
}